{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Login
{% endblock %}
{% block content %}
    <form action="" method="post">
        <div class="card mb-4">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://img.freepik.com/free-vector/privacy-policy-concept-illustration_114360-7853.jpg"
                         class="img-fluid rounded-start" alt="..." style="height: 100%">
                </div>
                <div class="col-md-8 d-flex align-items-center">
                    <div class="card-body">
                        <form action="#" method="post">
                            <h5 class="card-title mb-4">Register Page</h5>
                            {% csrf_token %}
                            {{ registerForm|crispy }}
                            <button type="submit" class="btn btn-primary">Register</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}